### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

### webpack ###
dist/
build/
public/
/dist
/build
/public

### node ###
node_modules
bower_components

### misc ###
*.sublime*
psd
thumb
sketch